atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
*.swp
git/gitconfig_machine.symlink
.netrwhist
*.log
*.apmrc
*.swo
*.swn
vim/.vim/plugged/
