atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
*.swp
git/dot-gitc/dot-gitconfig_machine
.netrwhist
*.log
*.apmrc
*.swo
*.swn
vim/dot-vim/plugged/
zsh/dot-zsh/local.zsh
