atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
*.swp
git/.gitc/.gitconfig_machine
.netrwhist
*.log
*.apmrc
*.swo
*.swn
vim/.vim/plugged/
zsh/.zsh/local.zsh
